{{define "IndexPage"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico" />
    <link href="./static/global.css" rel="stylesheet" />
    <script src="./static/global.js"></script>
  </head>
  <body>
    <!-- {{ template "HelloWorldComponent" . }} -->

    <div id='palette' class='absolute bottom-6 left-0 right-0 flex justify-center'></div>
    <div id='kit' class='absolute bottom-0 top-0 right-5 flex justify-center'>
      <div class='flex justify-center gap-2 flex-col'>
        <button id='zoom-in' class="text-gray-900 bg-white border border-gray-300 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">+</button>
        <button id='zoom-out' class="text-gray-900 bg-white border border-gray-300 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">-</button>
      </div>
    </div>
    <div id='cursor' class='absolute hidden transition-all duration-100 shadow-[0_0_0_2px_#ffffff_inset]'></div>
    <div id='info' class='absolute hidden right-2 bottom-2 p-1 text-md bg-white border border-gray-200 rounded-sm shadow'></div>
    <canvas id="root"></canvas>
    <script>
      class Canvas {
        constructor() {
          const canvas = document.getElementById('root');
          this.element = canvas;
          this.context = canvas.getContext("2d");
          this.grid = { width: 0, height: 0, hovered: false };
            
          canvas.width = window.innerWidth;
          canvas.height = window.innerHeight;
        }

        setSize(width, height) {
          this.grid.width = width;
          this.grid.height = height;
          this.pixel = { size: Math.floor(window.innerWidth / this.grid.width) / 2 };
          this.offset = {
            x: window.innerWidth / 2 - this.pixel.size * this.grid.width / 2,
            y: window.innerHeight / 2 - this.pixel.size * this.grid.height / 2
          }
        }

        drawCanvas(pixels) {
            this.context.fillStyle = "#282828";
            this.context.fillRect(0, 0, this.element.width, this.element.height);

            console.log('@', this.grid)
            pixels.forEach((pixel, i) => {
                const x = Math.floor(i % this.grid.width) * this.pixel.size + this.offset.x;
                const y = Math.floor(i / this.grid.width) * this.pixel.size + this.offset.y;
                const color = COLOR_MAP[pixels[i]];
                
                this.context.fillStyle = color;
                this.context.fillRect(x, y, this.pixel.size, this.pixel.size);
            });
        }

        zoom(pixels, factor, cursorX, cursorY) {
          console.log('zoom params', factor, cursorX, cursorY)
          const prevPixelSize = this.pixel.size;
          console.log('prevPixelSize', prevPixelSize)
          this.pixel.size *= factor;

          const minPixelSize = this.grid.width / 100;
          const maxPixelSize = this.grid.height / 0.1;

          this.pixel.size = Math.max(
            minPixelSize,
            Math.min(maxPixelSize, this.pixel.size),
          );

          this.offset = {
              x: (this.offset.x - cursorX) * (this.pixel.size / prevPixelSize) + cursorX,
              y: (this.offset.y - cursorY) * (this.pixel.size / prevPixelSize) + cursorY
          }
          
          this.drawCanvas(pixels);
          this.drawCursor(cursorX, cursorY)
        }

        onGridHover(x, y) {
          const isGridHovered = 
            this.offset.x < x &&
            this.offset.x + this.pixel.size * this.grid.width > x &&
            this.offset.y < y && 
            this.offset.y + this.pixel.size * this.grid.height > y 

          this.grid.hovered = isGridHovered;
        }

        updatePixel(x, y, color) {
          if (!this.grid.hovered) return;

          const pixel = this.getPixel(x, y)

          const newX = Math.floor(pixel.index % this.grid.width) * this.pixel.size + this.offset.x;
          const newY = Math.floor(pixel.index / this.grid.width) * this.pixel.size + this.offset.y;

          this.context.fillStyle = color;
          this.context.fillRect(newX, newY, this.pixel.size, this.pixel.size);

          return pixel;
        }

        getPixel(x, y) {
          const pixelI = Math.floor((x - this.offset.x) / this.pixel.size);
          const pixelJ = Math.floor((y - this.offset.y) / this.pixel.size);
          const index = pixelJ * this.grid.width + pixelI;

          return {
            i: pixelI,
            j: pixelJ,
            index
          }
        }

        drawCursor(x, y) {
          const cursor = document.getElementById('cursor');
          const info = document.getElementById('info');
  
          if (!this.grid.hovered) { 
              cursor.style.display = 'none';
              info.style.display = 'none';
              return 
          };

          const pixel = this.getPixel(x, y)

          const newX = Math.floor(pixel.index % this.grid.width) * this.pixel.size + this.offset.x;
          const newY = Math.floor(pixel.index / this.grid.width) * this.pixel.size + this.offset.y;

          cursor.style.display = 'block';
          cursor.style.left = `${newX}px`;
          cursor.style.top = `${newY}px`;
          cursor.style.width = `${this.pixel.size}px`;
          cursor.style.height = `${this.pixel.size}px`;

          info.style.display = 'block';
          info.innerHTML = `${pixel.i + 1}:${pixel.j + 1}`
        }
      }
    </script>
    <script>
      const SOCKETS_MESSAGES = {
        STATE: 0,
        STATE_MIGRATION: 1
      }
      const PREFIX = 'pixelbattle'
      const LOCAL_STORAGE_KEYS = {
        COLOR: `${PREFIX}_color`
      };
      const COLOR_MAP = {
          0: "#FFFFFF", // white
          1: "#74B63E", // green
          2: "#FFCE33", // yellow
          3: "#CC421D", // red
          4: "#FF8533", // orange
          5: "#87308C", // purple
          6: "#1D70A2", // blue
          7: "#079D9D", // teal
          8: "#F05689", // pink
          9: "#000000", // black
      };

      let pixels = [];
      let currentColor = JSON.parse(localStorage.getItem(LOCAL_STORAGE_KEYS.COLOR)) ?? { id: 0, value: COLOR_MAP[0] }
      const canvas = new Canvas();
    </script>
    <script>
      // palette block
      const palette = document.getElementById('palette');
      const paletteContainer = document.createElement('div');
      paletteContainer.id = 'paletteContainer';
      paletteContainer.className = 'flex gap-1.5 justify-center bg-black/30 rounded-lg p-4 ';

      Object.entries(COLOR_MAP).forEach(([id, color]) => {
        const colorContainer = document.createElement('div');
        colorContainer.className = 'size-10 cursor-pointer rounded-full border-[#282828] border-2';
        colorContainer.style.backgroundColor = color;
        paletteContainer.appendChild(colorContainer);
        
        if (color === currentColor.value) colorContainer.classList.add('border-white');

        colorContainer.addEventListener('click', () => {
          const colorContainers = document.getElementById('paletteContainer').children;
          for (let i = 0; i < colorContainers.length; i++) {
            if (colorContainers[i].classList.contains('border-white')) {
              colorContainers[i].classList.remove('border-white');
              colorContainers[i].classList.add('border-[#282828]');
            }
          };
          colorContainer.classList.add('border-white');
          const updatedCurrentColor = { id, value: color };
          localStorage.setItem(LOCAL_STORAGE_KEYS.COLOR, JSON.stringify(updatedCurrentColor));
          currentColor = updatedCurrentColor;
        });
      })

      palette.appendChild(paletteContainer);
    </script>
    <script>
      // kit block
      const zoomIn = document.getElementById('zoom-in');
      const zoomOut = document.getElementById('zoom-out');

      zoomIn.addEventListener('click', () => {
        canvas.zoom(pixels, 1.2, window.innerWidth / 2, window.innerHeight / 2);
      })
      zoomOut.addEventListener('click', () => {
        canvas.zoom(pixels, 0.8, window.innerWidth / 2, window.innerHeight / 2);
      })
    </script>
    <script>
      let uri = 'ws:';

      if (location.protocol === 'https:')  uri = 'wss:';
      uri += '//' + location.host;
      uri += location.pathname + 'ws';

      const socket = new WebSocket(uri);

      socket.onopen = () => {
        console.log('CONNECTED');
      }

      socket.onmessage = async (event) => {
        const typeBuffer = await event.data.slice(0,1);
        const [type] = new Int8Array(await typeBuffer.arrayBuffer());
        
        console.log('TYPE MESSAGE', type);
        if (type === SOCKETS_MESSAGES.STATE) {
          const sizeBuffer = await event.data.slice(1,3);
          const [width, height] = new Int8Array(await sizeBuffer.arrayBuffer());
          console.log('WIDHT:', width);
          console.log('HEIGHT:', height);

          const pixelsBuffer = await event.data.slice(3, width * height + 3);
          pixels = new Int8Array(await pixelsBuffer.arrayBuffer());

          canvas.setSize(width, height);
          canvas.drawCanvas(pixels);
        }
      }

      socket.onclose = () => {
        console.log('DISCONNECTED');
      };
    </script>
    <script>
      document.addEventListener('mousemove', (event) => {
        canvas.onGridHover(event.clientX, event.clientY);
        canvas.drawCursor(event.clientX, event.clientY);
      })

      document.addEventListener('click', (event) => {
        if (!canvas.grid.hovered) return
        const pixel = canvas.updatePixel(event.clientX, event.clientY, currentColor.value);
        const array = new Uint8Array([SOCKETS_MESSAGES.STATE_MIGRATION, pixel.index, currentColor.id])
        console.log('@', new Blob([array.buffer]));

        socket.send(new Blob([array.buffer]), { binary: true });
      })

      document.addEventListener('wheel', () => {
        canvas.zoom()
      })
    </script>
  </body>
</html>
{{end}}
