{{define "IndexPage"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico" />
    <link href="./static/global.css" rel="stylesheet" />
    <script src="./static/global.js"></script>
  </head>
  <body>
    {{ template "HelloWorldComponent" . }}

    <p class="italic text-red-500">Lets Build Something</p>
    <p class="italic text-red-500">Lets Build Something</p>
  </body>
</html>
{{end}}
